@import url(helpers.css);

*{
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.534);
}

body{
    margin: 0px;
    text-align: center;
    background-color: rgba(167, 245, 90, 0.555);
}

a{
    box-shadow: 0 0 12px 1px #00000040;
    border-radius: 1em;
    padding-inline: 2em;
    background-color: rgba(241, 248, 234, 0.555);
    font-weight: 600;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.534);
    margin-inline: 50px;
}
