@import url(helpers.css);

*{
    box-sizing: border-box;
}

html{
    font-size: 1rem;
    font-family: monospace
}

body{
    margin: 0px;
    padding: 15px;
    background-color: rgba(58, 58, 216, 0.74);
    text-align: center;
}

nav a{
    text-decoration: none;
}

.teams-container{
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    padding: 50px 80px;
    background-color: rgba(154, 65, 238, 0.678);
    border-radius: 1rem;
    grid-gap: 5px;
}

.teams-container .team-card{
    height: 2em;
    padding-inline: 3px;
    box-shadow:0 0 20px 3px #7b22a1;
    border-radius: 1em;
}